<h3><%= @article.title %></h3>
<h3><%= @article.content %></h3>

<p><%= link_to "Edit article", edit_article_path(@article) %></p>
<h5><%= link_to "Delete #{@article.title}",
      article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %></h5>




<p><%= link_to "Go back to all articles", articles_path %></p>
